.navbar{
    background: rgb(25, 25, 92) !important;
}

form{
    display: flex;
    gap: 5px;
}

.img-fluid {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.bg{
    background: rgb(25, 25, 92) !important;
}

